/* some default styles to make the view more native like */

html {
  box-sizing: border-box;
  background: transparent;

  /* Prevent the page to be scrollable */
  overflow: hidden;

  /* Force the default cursor, even on text */
  cursor: default;
}

body {
  background: #FAFAFA;
  padding: 3rem 3rem 1rem 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;

  /* Prevent the content from being selectionable */
  -webkit-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: .5rem  1rem;
  background: #fff;
  border-radius: 8px;
  outline: none;
  outline: 0;
  border: 0;
}

button.active {
  color: #fff;
  background: #0991F1;
  border: 3px solid #0991F1;
}

 button.passive {
   color: rgba(0,0,0,.60);
   border: 3px solid rgba(0,0,0,.12);
 }

 .option {
   height: 1.5rem;
 }

 label > input[type=checkbox] {
   margin-right: .5rem;
 }

 input.quantity {
   margin: 0 .5rem 0 0; 
   height: 2rem;
   padding: 0 .5rem;
   border-radius: .35rem;
   border: 2px solid rgba(0,0,0, .15);
 }

 input:hover {
  border: 2px solid rgba(0,0,0, .25);
 }

 input:focus {
   border: 2px solid #0991F1;
   outline: none;
 }

h4 {
  font-size: 1rem;
  font-weight: 700;
}

p{
  margin-top: 1rem;
} 

.row {
  display: flex;
}

.logo {
  margin: 0 0 1rem 0;
}

input {
  display: inline-block;
}

.dialog {
  margin: 0 0 1.5rem 0; 
}

.options {
  margin: 1rem 0;
  display: flex;
  flex-direction: column; 
}